= image_tag "60px-Hangman-#{game.incorrect_guesses.size}.png", :alt => "#{6 - game.incorrect_guesses.size} guesses left"

#word
  - game.word.split('').each do |letter|
    = game.guesses.include?(letter) ? letter : '_'

%hr

%div Guesses: #{game.guesses.to_a.join ', '}

%hr

%div
  - case game.status
  - when :won
    You win!
  - when :lost
    You lose!
  - else
    - ('a'..'z').each do |letter|
      - unless game.guesses.include?(letter)
        = form_tag game_guesses_path, :style => 'display: inline;' do |f|
          = hidden_field_tag :letter, letter
          = button_tag letter