= image_tag "60px-Hangman-#{game.incorrect_guesses.size}.png", :alt => "#{6 - game.incorrect_guesses.size} guesses left"

#word
  - game.word.split('').each do |letter|
    = game.guesses.include?(letter) ? letter : '_'

%hr

%div
  - case game.status
  - when :won
    You win!
  - when :lost
    You lose!
  - else
    - ('a'..'z').each do |letter|
      - if game.guesses.include?(letter)
        %strike= letter
      - else
        = link_to letter, game_guesses_path(:letter => letter)