/ %div Guesses left: #{game.guesses_left}

%div Guesses: #{game.guesses.to_a.join ', '}

%ul
  - ('a'..'z').each do |letter|
    - if game.guesses.include?(letter)
      %strike #{letter}
    - else
      = form_tag game_guesses_path do |f|
        = hidden_field_tag :letter, letter
        = button_tag letter